autopep8
jupyter
pandas
docker
namedlist
matplotlib
flask
flask-cors
openai
azure-identity
azure-keyvault-secrets
python-dotenv
vega_datasets
-e . #also need to install data formulator itself
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability